// COLORS
$color-primary: #ea0000;
$color-dark: #2a333e;
$color-white: #fff;
$color-black: #000;

// FONTS
$font-body: 'Poppins', sans-serif;
$font-title: 'Abhaya Libre', serif;

// Container
$container-max-width: 132rem;
